@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&display=swap');

#mobile-nav-link {
  transform: translateX(100vw);
  animation: slide-in 0.35s ease;
  animation-fill-mode: forwards;
}

#mobile-nav-link:nth-child(2) {
  animation: slide-in 0.35s ease;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

#mobile-nav-link:nth-child(3) {
  animation: slide-in 0.35s ease;
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
}
#mobile-nav-link:nth-child(4) {
  animation: slide-in 0.35s ease;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
#mobile-nav-link:nth-child(5) {
  animation: slide-in 0.35s ease;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Fira Code', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#welcome-section {
  min-height: calc(100vh - 70px);
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}

.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)
    infinite;
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

.arrow {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  border-right: 2px solid rgba(0, 0, 0, 0.25);
  transform: rotate(45deg);
  animation: animate 2.5s infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-5px, -5px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

#button {
  box-shadow: 4px 4px 0 #00c896;
}
